html, body {
    margin: 0;  /* 去掉網頁主體的預設外邊距 */
    background-color: #ffffff;
}

html {
    /* 使用指定字體，如果無法加載則依次使用後面的備選字體 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;  /* 將 HTML 根元素高度設置為 100% */
}

body {
    overflow: hidden;  /* 隱藏主體內容溢出的部分 */
    height: inherit;  /* 繼承父元素 HTML 的高度 */
}
h1 {
    color: #0057ac;
}
img {
    text-align: center; /* 將文字置中 */
    position: fixed;
    bottom: 0;
}

.logo {
    position: relative;
    z-index: 999;
    left: 14px;
}

.main {
    text-align: center; /* 將文字置中 */
    position: relative;
    z-index: 998;
    bottom: 0;
    border-radius: 20%;
    box-shadow: 0px 0px 100px 50px rgb(255, 255, 255);
}
#dy_bar {
     background-color: #0057ac;
     font-size: 14px;
     padding: 17px 0px 17px;
     color: #fad814;
     font-family: Arial, Helvetica, sans-serif;
 }
.center {
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#favicon {
    width: 16px;
    height: 8px;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.loader-container {
    padding: 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7986cb;
    padding: 10px 8px 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loading-message {
    margin-top: 16px;
    font-size: 18px;
    color: #333;
    position: relative;
    z-index: 999;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
